{% sw_extends '@Storefront/storefront/page/content/product-detail.html.twig' %}

            {% block cms_content %}
                
               
                <P>Hallo World</P>
                <button class="btn btn-success">Bootstrap button</button>
            
            {% endblock %}
        
    

